body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
    font-size: 45px;
}



#game-background {
    background-color: darkgreen;
    color: gold;
}

.bingo-table {
    background-color: bisque;
    color: brown;
    border: 5px solid brown;
    border-color: brown;
    border-collapse: collapse;
    margin: 5%;
    max-width: 500px;
    max-height: 500px;
    min-height: 275px;
    min-width: 400px;
}

th {
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 10px;
    border-color: brown;
}

tr {
    border: 5px solid brown;
    border-collapse: collapse;
}

td {
    font-weight: 800;
    font-size: xx-large;
    text-align: center;
    vertical-align: middle;
    border: 5px solid brown;
    border-collapse: collapse;
    border-color: brown;
    border-bottom: 10px;
    border-top: 10px;
    border-right: 10px;
    border-left: 10px;
    min-width: 60px;
    min-height: 50px;
}

.cell-button {
    width: 100%;
    height: 100%;
    background-color: bisque;
    color: brown;
    font-weight: 550;
    font-size: xx-large;
    border: 0px;
}

.hidden {
    visibility: hidden;
}

#bingo-call {
    /* for the number called */
    font-weight: 900;
    font-size: xx-large;
    color: whitesmoke;
}

#btn_bingo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: xx-large;
    align-self: stretch;
    margin-left: 100px;
    border-color: ivory;
    border-style: groove;
    border-width: 7px;
    border-radius: 15px;
}

.bingo-marker {
    height: 44px;
    width: 44px;
    background-color: crimson;
    opacity: 85%;
    border-radius: 50%;
    display: inline-block;
}