tr {
    height: 75px;
}

table {
    width: 80%;
    background-color: #606060FF;
    border-style: inset;
    color: #D6ED17FF;
}

td {
    margin: 1px;
    border-style: inset;
    width: 50px;
    text-align: center;
}

h1 {
    text-align: center;
    text-shadow: 1px;
}